@use 'sass:map';

/* Color Definitions */

$colors: (
  bone-white: #FFFCF2,
  eerie-black: #252422,
  light-brown: #9D8776,
  medium-brown: #766664,
  dark-brown: #544644,
  olive-black: #383531,
);

/* Meta Assignment */

$color-white: map.get($colors, bone-white);
$color-black: map.get($colors, eerie-black);

$color-primary-1: map.get($colors, light-brown);
$color-primary-2: map.get($colors, medium-brown);
$color-primary-3: map.get($colors, dark-brown);
$color-primary-4: map.get($colors, olive-black);

/* Main Attributes */

$color-text-primary: $color-primary-3;
$color-borders: $color-primary-4;
$color-bg: $color-black;
