@use 'sass:map';

/* Color Definitions */

$colors: (
  bone-white: #FFFCF2,
  eerie-black: #252422,
  olive-black: #403D39,
  midnight-blue: #114B5F,
  flame-orange: #EB5E28,
  dark-brown: #544644,
  medium-brown: #766664,
  light-brown: #9D8776,
);

/* Meta Assignment */

$color-text-primary: map.get($colors, bone-white);
$color-contrast: map.get($colors, bone-white);

/* Color Assignment */

$color-bg: map.get($colors, eerie-black);

$color-avatar-border: $color-contrast;

$color-panes-text: map.get($colors, dark-brown);
$color-panes-border: map.get($colors, medium-brown);
$color-panes-shadow: map.get($colors, light-brown);
